
 <div class="col-lg-12">

<h1>StaticPages#Store</h1>
<p>Find me in app/views/static_pages/Store.html.erb</p>
  <div class="CarGalleryStore">
	<%= image_tag ("01.jpg"),:class=>"Tesla col-lg-6"%>
	<%= image_tag ("01.jpg"),:class=>"Tesla col-lg-6"%>
  </div>
   <div class="CarGalleryDetail col-lg-6">
   	<p>
   	SUBARU-BRZ  115萬 
   	</p>
   </div>
   <div class="CarGalleryDetail col-lg-6">
   	<p>
   	美國 吳先生 200萬
   	</p>
   </div>
  <div class="CarGalleryStore">
	<%= image_tag ("01.jpg"),:class=>"Tesla col-lg-6"%>
	<%= image_tag ("01.jpg"),:class=>"Tesla col-lg-6"%>
  </div>
   <div class="CarGalleryDetail col-lg-6">
   	<p>
   	SUBARU-BRZ  115萬 
   	</p>
   </div>
   <div class="CarGalleryDetail col-lg-6">
   	<p>
   	美國 吳先生 200萬
   	</p>
   </div>

 </div>